//colors
$accent-color            = #ff343d
$grey-light              = #f3f5f8
$grey-dark               = #acb7ba
$muted-text              = #92a1a5

//fonts
$montserrat              = 'Montserrat', sans-serif